input.error{
	border:solid 1px #ff0000;
	color:#ff0000;
}
div.error{
	color:#ff0000;
}

.loading_gif{

}


.uli_app_button.loading:after {
	content: url('../img/ajax-loader.gif');
}

.hidden{
	display: none;
}